* {
	padding: 0px;
	margin: 0px;
}

body {
	font-family: strategosHelvetica !important;
}




// BANNER.JS SCSS
.contact_banner {
	background-image: url('../img/strategos-contact-us.jpg');
	height: 550px;
	background-size: 100% auto;
	background-repeat: no-repeat;
	position: relative;
	.contact_banner_caption {
		position: absolute;
	    left: 110px;
	    top: 170px;
	    h1 {
	    	font-size: 35px;
	    	margin-bottom: 20px;
	    	line-height: 40px;
	    	color: #fff;
	    }
	    p {
	    	font-size: 15px;
	    	line-height: 25px;
    		margin-bottom: 20px;
    		color: #fff;
	    }
	    em {
	    	b {
	    		text-decoration: underline;
	    		color: #fff;
	    	}
	    }
	}
	.banner_img {
		position: absolute;
		right: 110px;
		bottom: 110px;
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-transition: .3s ease-in-out;
		transition: .3s ease-in-out;
		.stratelogo {
			height: 300px;
		}
	}
	.lets_talk_button {
		background-color: #003366;
		border-radius: 5px;
	    text-transform: uppercase;
	    font-weight: 600;
	    color: #fff;
	    padding: 15px 30px;
        position: absolute;
	    top: 162px;
	    left: 60px;
	}
	.lets_talk_button:hover {
		color: #fff;
		text-decoration: none;
	}

	.banner_img:hover{
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
	}
}

.contact_banner_overlay {
	background: #036;
	height: 550px;
	opacity: 0.6;
}




// SENDMESSAGE.JS SCSS
.sendmessage_section {
	padding: 3em 0em;
	.background_color {
		.container {
			.row {
				.col-md-6 {
					h1 {
						font-size: 20px;
						color: #036;
					}
					span {
						display: block;
						border-bottom: 2px solid #000;
						width: 20%;
						margin: 10px 0px 20px 0px;
					}
					p {
						font-size: 11px;
					}
					.parent {
						text-align: right;
						h1 {
							color: #777;
						}
						p { 
							color: #2cc5f0;
							b {
								color: #777;
								display: block;
							}
						}
					}
					Form {
						margin-top: 2em;
						width: 70%;
						font-size: 11px;
						select {
							font-size: 11px;
						}
						.success_mssg {
							color: green;
							font-size: 8px;
						}
						.err_mssg {
							color: red;
							font-size: 8px;
						}
					}
					.image {
						background-image: url('../img/strategos-customer-support.jpg');
						height: 550px;
						background-size: auto 100%;
						background-repeat: no-repeat;
					}
					.image_banner_overlay {
						background: #036;
						height: 550px;
						opacity: 0.6;
					}
				}
			}
		}
	}
}




// GOOGLEMAP.JS SCSS
.googlemap_section {
	padding: 2em 0em 0em 0em;
	.background_color {
		.mapouter {
			.gmap_canvas {
				iframe {
					width: 100%;
					overflow: hidden;
				}
			}
		}
	}
}
