* {
	padding: 0px;
	margin: 0px;
}

body {
	font-family: strategosHelvetica;
}

// HEADER.JS SCSS
.navbar {
	margin-bottom: 0px !important;
	background-color: #fff !important;
	border-color: #fff !important;
	.container {
		.navbar-header {
			padding-top: 0px;
			.navbar-brand {
				padding: 0px;
				font-weight: bolder;
				.stratelogo {
					height: 100px;
				}
			}
		}

		.navbar-collapse {
			padding-top: 20px;
			padding-bottom: 20px;
			.navbar-nav {
				li {	
					color: #777777;
					font-weight: bolder;
					}
					a:hover {
						color: #003366;
						background-color: transparent;
					}
					.lets_talk_button {
						background-color: #003366;
						border-radius: 5px;
					    text-transform: uppercase;
					    font-weight: 600;
					    color: #fff;
					    padding: 15px 30px;
					}
					.lets_talk_button:hover {
						color: #fff;
						background-color:#003366;
					}
					.strategos-active {
						color: #036;
						border-bottom: 5px solid #036;
					}
				}
			}
			.cl-effect-4_a {
				padding-top: 20px;
			}
			.cl-effect-4 a {
				padding: 15px 0 10px;
				margin-left: 20px;
			}

			.cl-effect-4 a::after {
				position: absolute;
				top: 100%;
				left: 0;
				width: 100%;
				height: 1px;
				background: #003366;
				content: '';
				opacity: 0;
				-webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
				-moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
				transition: height 0.3s, opacity 0.3s, transform 0.3s;
				-webkit-transform: translateY(-10px);
				-moz-transform: translateY(-10px);
				transform: translateY(-10px);
			}
			.cl-effect-4 a:hover::after,
			.cl-effect-4 a:focus::after {
				height: 5px;
				opacity: 1;
				-webkit-transform: translateY(0px);
				-moz-transform: translateY(0px);
				transform: translateY(0px);
			}
			.button-style{
				margin-left: 20px;
			}
	}
}




// BANNER.JS SCSS
.home_banner {
	background-image: url('../img/strategos-home-banner.jpg');
	height: 550px;
	background-size: 100% auto;
	background-repeat: no-repeat;
	position: relative;
	.banner_caption {
		position: absolute;
	    left: 110px;
	    top: 135px;
	    h1 {
	    	font-size: 35px;
	    	margin-bottom: 20px;
	    	line-height: 40px;
	    	color: #fff;
	    	font-weight: bold;
	    }
	    p {
	    	font-size: 18px;
	    	line-height: 35px;
    		margin-bottom: 20px;
    		color: #fff;
    		font-weight: bold;
    		letter-spacing: 2px;
	    }
	    em {
	    	b {
	    		text-decoration: underline;
	    		color: #fff;
	    	}
	    }
	}
	.banner_img {
		position: absolute;
		right: 110px;
		bottom: 110px;
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-transition: .3s ease-in-out;
		transition: .3s ease-in-out;
		.stratelogo {
			height: 300px;
		}
		.lets_talk_button{
			background-color: #003366;
			border-radius: 5px;
		    text-transform: uppercase;
		    font-weight: 600;
		    color: #fff;
		    padding: 15px 30px;
	        position: absolute;
		    top: 162px;
		    left: 60px;
		}
		.lets_talk_button:hover {
			text-decoration: none;
			opacity: 1;
			-webkit-transform: scale(1, 1);
			transform: scale(1, 1);
		}
	}
	.banner_img:hover{
		-webkit-transform: scale(1.3);
		transform: scale(1.3);
	}
}

.home_banner_overlay {
	background: #036;
	height: 550px;
	opacity: 0.6;
}




// WHO WE ARE.JS SCSS
.home_whoweare_section {
	height: auto;
	.background_color {
		background-color: #EFFDFE;
		padding: 5em 0em;
		.container {
			.row {
				h1 {
					font-size: 3em;
				    text-align: center;
				    margin: 30px 0px;
				    color: #003366;
				    padding: 0px 0px 20px 0px;
				    margin: 0px;
				    font-weight: bolder;
				}
				.col-md-6 {
					margin-bottom: 50px;
					.strategos_hockey_stick {
						background-image: url('../img/strategos-home-graph.jpg');
						height: 250px;
						background-size: 100% auto;
						background-repeat: no-repeat;
					}
					p {
						font-size: 1em;
						text-align: justify;
						color: #777;
						font-weight: bold;
						line-height: 25px;
						letter-spacing: 1px;
						b {
							color: #000;
						}
					}
					em {
						text-decoration: underline;
						margin-bottom: 20px;
						a {
							color: #036;
							font-weight: bolder;
						}
						a:hover {
							text-decoration: none;
						}
					}
				}
				.button {
					text-align: center;
					a {
						padding: 10px 40px;
					    text-transform: uppercase;
					    background-color: #036;
					    border-radius: 5px;
					    color: #fff;
					    font-weight: bolder;
					}
					a:hover {
						text-decoration: none;
					}
				}
			}
		}
	}
}




// OUR PROCESS.JS SCSS
.home_ourprocess_section {
	background: #fff;
	.background_color {
		text-align: center;
		.bounce-1 {
        	animation-name: bounce-1;
        	animation-timing-function: linear;
    	}
    		@keyframes bounce-1 {
		        0%   { transform: translateY(0); }
		        50%  { transform: translateY(-60px); }
		        100% { transform: translateY(0); }
    		}
		.strategos-img {
			background-image: url('../img/strategos-home-process-bg.jpg');
			height: 1200px;
			background-size: 100% auto;
			background-repeat: no-repeat;
			position: relative;
			transform-origin: bottom;
			animation-duration: 9s;
        	animation-iteration-count: infinite;
			h1 {
			    color: #036;
			    font-size: 3em;
			    margin-top: 0;
			    text-align: center;
			    padding-top: 50px;
			    font-weight: bolder;
			}
			p {
			    position: absolute;
			    left: 462px;
			    top: 580px;
			    color: #fff;
			    line-height: 22px;
			    letter-spacing: 1px;
			    b {
			    	font-size: 20px;
			    }
			}
			.button {
				margin-top: 30px;
				position: absolute;
				bottom: 50px;
				left: 42.5em;	
				font-weight: bolder;
				a {
					padding: 10px 40px;
				    text-transform: uppercase;
				    background-color: #036;
				    border-radius: 5px;
				    color: #fff;
				}
				a:hover {
					text-decoration: none;
				}
			}
		}
	}
}




// OUR TEAM.JS SCSS
.ourteam_section {
	height: auto;
	.background_color {
		background-color: #fff;
		padding: 5em 0em;
		.container {
			.row {
				h1 {
					font-size: 3em;
				    text-align: center;
				    color: #003366;
				    padding: 0px 0px 50px 0px;
				    margin: 0px;
				    font-weight: bolder;
				}
				.strategos_col {
					border-right: 1px solid #000;
					margin-bottom: 5em;
				}
				.col-md-6 {
					.strategos-team-adisa {
						background-image: url('../img/home-strategos-team-adisa.png');
						height: 520px;
						background-size: 100% auto;
						background-repeat: no-repeat;
					}
					.strategos-team-dipe {
						background-image: url('../img/home-strategos-team-dipe.png');
						height: 520px;
						background-size: auto 100%;
						background-repeat: no-repeat;
						background-position: center;
					}
					h1 {
						font-size: 1.5em;
					    text-align: center;
					    color: #777;
					    padding: 0px 0px 0px 0px;
					    margin: 0px;
					}
					em {
						text-align: center;
						color: #2CC5F0;
						font-size: 11px;
						display: block;
					}
					p {
						font-size: 1em;
						text-align: center;
						color: #777;
					}
					a {
					    text-transform: uppercase;
					    color: #036;
					    text-align: center;
					    font-size: 11px;
					    display: block;
					}
					a:hover {
						text-decoration: none;
						color: #036;
					}
					i{
						font-weight: bolder;
					}
				}
			}
			.button {
				text-align: center;
				a {
					padding: 10px 40px;
				    text-transform: uppercase;
				    background-color: #036;
				    color: #fff;
				    border-radius: 5px;
				}
				a:hover {
					text-decoration: none;
				}
			}
		}
	}	
}




// OUR CLIENT.JS SCSS
.ourclient_section {
	padding: 5em 0em;
	background: #000;
	.background_img {
		.container {
			img {
				height: 60px;
				margin-right: 50px;
			}
			.last_img {
				margin-right: 0px;
			}
		}
	}
}




// WHAT WE DO.JS CSS
.whatwedo_section {
	height: auto;
	background-color: #fff;
	padding: 5em 0em;
	h1 {
		font-size: 3em;
	    text-align: center;
	    margin: 30px 0px;
	    color: #003366;
	    padding: 0px 0px 20px 0px;
	    margin: 0px;
	    font-weight: bolder;
	}
	.button {
		text-align: center;
		margin-top: 5em;
		a {
			padding: 10px 40px;
		    text-transform: uppercase;
		    background-color: #036;
		    border-radius: 5px;
		    color: #fff;
		    font-weight: bolder;
		}
		a:hover {
			text-decoration: none;
		}
	}
	.strategos-home-what-we-do-background-img {
		background-image: url('../img/strategos-home-whatwedo-background.jpg');
		height: 400px;
		background-size: 100% auto;
		background-repeat: no-repeat;
		background-position: center;
		.container {
			.row {
				.col-md-6 {
					.strategos-home-what-we-do-chart {
						
						height: 400px;
						background-size: 100% auto;
						background-repeat: no-repeat;
					}
					ul {
						li {
							padding: 10px 0px;
							border-bottom: 1px solid #777;
							list-style: none;
							color: #777;
							font-size: 1.5em;
							img {
								height: 100px;
								margin-right: 30px;
							}
							a.strategos-home-what-we-do-anchor {
								color: #777;
								font-weight: bolder;
							}
						}
					}
				}
			}
		}
	}
	.background_img_overlay {
		height: 400px;
		background-color: #036;
		opacity: 0.6;
	}
}




// NEWSLETTER.JS CSS
.news_letter_section {
	background-color: #036;
	padding: 5em 0em;
	.background_img {
		.container {
			.row {
				.col-md-2 {
					img {
						height: 100px;
					}
				}
				.col-md-10 {
					h1 {
						font-size: 3em;
					    text-align: left;
					    color: #fff;
					    padding: 0px 0px 20px 0px;
					    margin: 0px;
					    font-weight: bolder;	
					}
					p {
						color: #ffffff;
						font-size: 12px;
						margin-bottom: 20px;
					}
					form {
						.input {
							margin-right: 20px;
						}
						button {
							background: #2cc5f0;
							text-transform: uppercase;
							font-weight: bolder;
						}
					}
				}
			}
		}
	}
}




// FOOTER.JS CSS
.footer_section {
	padding: 2em 0em;
	.background_img {
		.container {
			.row {
				.col-md-3 {
					text-align: center;
					img {
						height: 100px;
					}
					p {
						font-size: 10px;
						color: #777;
					}
					h1 {
						font-size: 10px;
						color: #036;
						text-transform: uppercase;
						font-weight: bolder;
						letter-spacing: 1px;
					}
					ul {
						list-style: none;
						li {
							font-size: 9px;
							line-height: 20px;
							color: #777;
							a {
								color: #777;
							    text-decoration: none;
							    font-weight: bold;
							    font-size: 10px;
							    letter-spacing: 1px;
							}
						}
					}
					.strategoscompany_media {
						text-align: center;
						display: inline-block;
						li {
							display: inline-block;
							margin-right: 20px;
							.fa {
								font-size: 20px;
								color: #2cc5f0;
							}
						}
					}
				}
			}
			.strategos_p {
				border-top: 1px solid #777;
				padding-top: 20px;
				font-size: 10px;
				color: #777;
				b {
					padding-left: 30px;
					a {
						color: #2cc5f0;
					}
				}
			}
		}
	}
}