* {
	padding: 0px;
	margin: 0px;
}

body {
	font-family: strategosHelvetica;
}




// BANNER.JS SCSS
.ourcompany_banner {
	background-image: url('../img/strategos-our-company-banner-logo.jpg');
	height: 550px;
	background-size: 100% auto;
	background-repeat: no-repeat;
	position: relative;
	background-position: center;
	.ourcompany_banner_caption {
		position: absolute;
	    left: 110px;
	    top: 170px;
	    h1 {
	    	font-size: 35px;
	    	margin-bottom: 20px;
	    	line-height: 40px;
	    	color: #fff;
	    	font-weight: bolder;
	    }
	    p {
	    	font-size: 16px;
		    line-height: 30px;
		    margin-bottom: 20px;
		    color: #fff;
		    font-weight: bolder;
		    letter-spacing: 1px;
	    }
	    em {
	    	b {
	    		text-decoration: underline;
	    		color: #fff;
	    	}
	    }
	}
	.banner_img {
		position: absolute;
		right: 110px;
		bottom: 110px;
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-transition: .3s ease-in-out;
		transition: .3s ease-in-out;
		.stratelogo {
			height: 300px;
		}
	}
	.lets_talk_button {
		background-color: #003366;
		border-radius: 5px;
	    text-transform: uppercase;
	    font-weight: bolder;
	    color: #fff;
	    padding: 15px 30px;
        position: absolute;
	    top: 162px;
	    left: 60px;
	}
	.lets_talk_button:hover {
		color: #fff;
		text-decoration: none;
		}
		
	}
	.banner_img:hover{
		-webkit-transform: scale(1.3);
		transform: scale(1.3);
	}

	.ourcompany_banner_overlay {
		background: #036;
		height: 550px;
		opacity: 0.6;
	}




// WHO WE ARE.JS SCSS
.whoweare_section {
	height: auto;
	.background_color {
		background-color: #f2fcff;
		padding: 5em 0em;
		.container {
			.row {
				h1 {
					font-size: 3em;
				    text-align: center;
				    margin: 30px 0px;
				    color: #003366;
				    padding: 0px 0px 20px 0px;
				    margin: 0px;
				    font-weight: bolder;
				}
				.col-md-12 {
					p {
						font-size: 20px;
						text-align: justify;
						line-height: 30px;
						color: #777;
					}
					em {
						text-decoration: underline;
						margin-bottom: 20px;
						a {
							color: #036;
						}
						a:hover {
							text-decoration: none;
						}
					}
				}
			}
		}
	}
}




// OUR PROCESS.JS SCSS
.ourprocess_section {
	background-image: url('../img/strategos-process-banner.jpg');
	height: 500px;
	background-size: 100% auto;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	.background_color {
		background: #000;
		opacity: 0.8;
		height: 500px;
		text-align: center;
		padding: 3em 0em;
		h1 {
			color: #fff;
			font-size: 3em;
			margin-top: 0px;
			margin-bottom: 1em;
			font-weight: bolder;
		}
		.container {
			.row {
				.col-md-3 {
					.stratelogo {
						height: 100px;
					}
					h1 {
					    font-size: 1.5em;
					    margin-bottom: 0px;
					    padding-bottom: 15px;
					    margin-top: 20px;
					    font-weight: bolder;
					}
					span {
				    	border-bottom: 2px solid #fff;
					    display: block;
					    width: 15%;
					    margin: auto;
					    margin-bottom: 15px;
				    }
					p {
						font-size: 12px;
    					line-height: 20px;
    					color: #fff;
    					font-weight: bold;
    					letter-spacing: 1px;
					}
				}
			}
		}
		.free_space {
			margin: 5em;
		}
		.button {
				margin-top: 20px;
			a {
				padding: 10px 40px;
			    text-transform: uppercase;
			    background-color: #036;
			    border-radius: 5px;
			    color: #fff;
			    font-weight: bolder;
			}
			a:hover {
				text-decoration: none;
			}
		}
	}
}




// OUR TEAM.JS SCSS
.ourcompanyourteam_section {
	height: auto;
	.background_color {
		background-color: #fff;
		padding: 5em 0em;
		.container {
			.row {
				h1 {
					font-size: 3em;
				    text-align: center;
				    color: #003366;
				    padding: 0em 0em 2em 0em;
				    margin: 0px;
				    font-weight: bolder;
				}
				.strategos_col {
					margin-bottom: 5em;
				}
				.col-md-6 {
					.strategos_team_adisa {
						background-image: url('../img/strategos-team-adisa.png');
						height: 500px;
						background-size: 100% auto;
						background-repeat: no-repeat;
					}
					.strategos_team_dipe {
						background-image: url('../img/strategos-team-dipe.png');
						height: 500px;
						background-size: 100% auto;
						background-repeat: no-repeat;
					}
					h1 {
						font-size: 1.5em;
					    text-align: center;
					    color: #777;
					    padding: 0px 0px 0px 0px;
					    margin: 0px;
					    margin-top: 20px;
					}
					em {
						text-align: center;
						color: #2CC5F0;
						font-size: 11px;
						display: block;
					}
					p {
						font-size: 1em;
						text-align: justify;
						color: #777;
					}
					a {
					    text-transform: uppercase;
					    color: #036;
					    text-align: center;
					    font-size: 11px;
					    display: block;
					}
					a:hover {
						text-decoration: none;
						color: #036;
					}
				}
			}
			.button {
				text-align: center;
				a {
					padding: 10px 40px;
				    text-transform: uppercase;
				    background-color: #036;
				    color: #fff;
				    border-radius: 5px;
				}
				a:hover {
					text-decoration: none;
				}
			}
		}
	}	
}