* {
	padding: 0px;
	margin: 0px;
}

body {
	font-family: strategosHelvetica;
}










// WHATWEDO SCSS
.whatwedo_banner {
	background-image: url('../img/strategos-what-we-do-banner.jpg');
	height: 550px;
	background-size: 100% auto;
	background-repeat: no-repeat;
	position: relative;
	background-position: center;
	.ourcompany_banner_caption {
		position: absolute;
	    left: 110px;
	    top: 170px;
	    h1 {
	    	font-size: 35px;
	    	margin-bottom: 20px;
	    	line-height: 40px;
	    	color: #fff;
	    	font-weight: bolder;
	    }
	    p {
	    	font-size: 16px;
		    line-height: 30px;
		    margin-bottom: 20px;
		    color: #fff;
		    font-weight: bolder;
		    letter-spacing: 1px;
	    }
	    em {
	    	b {
	    		text-decoration: underline;
	    		color: #fff;
	    	}
	    }
	}
	.banner_img {
		position: absolute;
		right: 110px;
		bottom: 110px;
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-transition: .3s ease-in-out;
		transition: .3s ease-in-out;
		.stratelogo {
			height: 300px;
		}
	}
	.lets_talk_button {
		background-color: #003366;
		border-radius: 5px;
	    text-transform: uppercase;
	    font-weight: 600;
	    color: #fff;
	    padding: 15px 30px;
        position: absolute;
	    top: 162px;
	    left: 60px;
	}
	.lets_talk_button:hover {
		color: #fff;
		text-decoration: none;
	}
}

.banner_img:hover{
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

.whatwedo_banner_overlay {
	background: #036;
	height: 550px;
	opacity: 0.6;
}

.services_section {
	background: #373737;
	padding: 3em 0em;
	.background_color {
		.container {
			.row {
				.col-md-4 {
					.card {
						background-color: #fff;
						padding-bottom: 20px;
						.card-title {
							color: #777;
							font-weight: bolder;
    						letter-spacing: 1px;
						}
						.half_border {
							display: block;
							border: 2px solid #000;
							width: 15%;
						}
						.strategos-strategy {
							background-image: url('../img/strategos-strategy.jpg');
							height: 200px;
							background-size: 100% auto;
							background-repeat: no-repeat;
						}
						.strategos-recruitment {
							background-image: url('../img/strategos-recruitment.jpg');
							height: 200px;
							background-size: 100% auto;
							background-repeat: no-repeat;
						}
						.strategos-investors {
							background-image: url('../img/strategos-investor.jpg');
							height: 200px;
							background-size: 100% auto;
							background-repeat: no-repeat;
						}	
						.card-body {
							padding: 0px 20px;
							.btn_primary {
								background: #036;
								color: #fff;
								font-weight: bolder;
							}
							ul {
								li {
									list-style: none;
								    list-style: none;
								    font-size: 11px;
								    padding: 10px 0px;
								    border-bottom: 1px solid #777;
								    width: 80%;
								    color: #036;
									.fa {
										padding-right: 10px;
										color: #777;
									}
								}
								.special_li {
									margin-bottom: 46px;
								}
							}
							.btn_primary:hover {
								color: #fff;
							}
						}
					}
				}
			}
		}
	}
}

.button_section {
	padding: 5em 0em;
	.background_color {
		.container {
			.row {
				.col-md-12 {
					text-align: center;
					.btn_primary {
						background: #2cc5f0;
						color: #fff;
						padding: 10px 80px;
						font-weight: bolder;
					}
				}
			}
		}
	}
}









//STRATEGY SCSS
.strategy_banner {
	background-image: url('../img/strategos-strategy.jpg');
	height: 550px;
	background-size: 100% auto;
	background-repeat: no-repeat;
	position: relative;
	background-position: center;
	.strategy_banner_caption {
		position: absolute;
	    left: 110px;
	    top: 170px;
	    h1 {
	    	font-size: 35px;
	    	margin-bottom: 20px;
	    	line-height: 40px;
	    	color: #fff;
	    	font-weight: bolder;
	    }
	    p {
	    	font-size: 15px;
		    line-height: 30px;
		    margin-bottom: 20px;
		    color: #fff;
		    font-weight: bolder;
		    letter-spacing: 1px;
	    }
	    em {
	    	b {
	    		text-decoration: underline;
	    		color: #fff;
	    		font-weight: bolder;
	    	}
	    }
	}
	.banner_img {
		position: absolute;
		right: 110px;
		bottom: 110px;
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-transition: .3s ease-in-out;
		transition: .3s ease-in-out;
		.stratelogo {
			height: 300px;
		}
		.lets_talk_button {
			background-color: #003366;
			border-radius: 5px;
		    text-transform: uppercase;
		    font-weight: bolder;
		    color: #fff;
		    padding: 15px 30px;
	        position: absolute;
		    top: 162px;
		    left: 60px;
		}
		.lets_talk_button:hover {
			color: #fff;
			text-decoration: none;
		}
	}	
}

.banner_img:hover{
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}


.strategy_banner_overlay {
	background: #036;
	height: 550px;
	opacity: 0.6;
}

.strategywhatwedo_section {
	background: #fff;
	padding: 3em 0em;
	.background_color {
		.container {
			.row {
				.col-md-12 {
					h1 {
						color: #036;
						margin-bottom: 1em;
						font-weight: bolder;
					}
					p {
						color: #777;
						line-height: 25px;
						text-align: justify;
						b {
							color: #000;
						    font-size: 15px;
						}
					}
				}
			}
		}
	}
}

.strategyinsights_section {
	background: #373737;
	padding: 5em 0em;
	.background_color {
		.container {
			.row {
				.col-md-12 {
					h1 {
						color: #fff;
						margin-bottom: 1em;
						margin-top: 0em;
						font-weight: bolder;
					}
				}
				.col-md-3 {
					a {
						text-decoration: none;
						.card {
							background: #fff;
							min-height: 350px;
							.img {
								background-image: url('../img/strategos-logo.png');
								height: 150px;
								background-size: 100% auto;
								background-repeat: no-repeat;
								position: relative;
							}
							.card-body {
								padding: 0px 15px 15px 15px;
								.card-title {
									color: #036;
									font-weight: bolder;
								}
								.card-text {
									font-size: 10px;
									color: #777;
								}
							}
						}
					}
				}
			}
		}
	}
}

.strategytestimonials_section {
	background: #fff;
	padding: 5em 0em;
	.background_color {
		.container {
			.row {
				.col-md-6 {
					h1 {
						color: #777;
						margin-bottom: 1em;
						margin-top: 0em;
						line-height: 50px;
						padding-top: 180px;
						font-weight: bolder;
    					letter-spacing: 1px;
					}
					.a {
					    color: #fff;
					    text-decoration: none;
					    background: #003366;
					    padding: 15px 60px;
					    border-radius: 5px;
					    text-transform: uppercase;
					    font-weight: bolder;
					}
					.a:hover {
						text-decoration: none;
					}
				}
				.col-md-6 {
					#quote-carousel {
					    padding: 0 10px 30px 10px;
					    background:#003366;
					    color:#fff;
					}
					#quote-carousel .carousel-control {
					    background: none;
					    color: #CACACA;
					    font-size: 2.3em;
					    text-shadow: none;
					    margin-top: 100px;
					}
					#quote-carousel .carousel-indicators {
					    position: relative;
					    right: 50%;
					    top: auto;
					    bottom: 0px;
					    margin-top: 20px;
					    margin-right: -19px;
					}
					#quote-carousel .carousel-indicators li {
					    width: 50px;
					    height: 50px;
					    cursor: pointer;
					    border: 1px solid #ccc;
					    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
					    border-radius: 50%;
					    opacity: 0.4;
					    overflow: hidden;
					    transition: all .4s ease-in;
					    vertical-align: middle;
					}
					#quote-carousel .carousel-indicators .active {
					    width: 128px;
					    height: 128px;
					    opacity: 1;
					    transition: all .2s;
					}
					.item blockquote {
					    border-left: none;
					    margin: 0;
					}
					.item blockquote p:before {
					    content: "\f10d";
					    font-family: 'Fontawesome';
					    float: left;
					    margin-right: 10px;
					}
					.testimonial_p {
						font-size: 15px;
						color: #fff;
						line-height: 25px;
						margin-top: 20px;
						text-align: justify;
					}
				}
			}
		}
	}
}

.strategyfailure_banner {
	background-image: url('../img/strategos-strategy-failuresection.jpg');
	height: 550px;
	background-size: 100% auto;
	background-repeat: no-repeat;
	position: relative;
	background-position: center;
	.strategyfailure_banner_caption {
		position: absolute;
	    left: 110px;
	    top: 90px;
	    width: 50%;
	    h1 {
	    	font-size: 35px;
	    	margin: 0px;
	    	line-height: 40px;
	    	color: #fff;
	    	font-weight: bolder;
	    }
	    .strategyfailure_content {
	    	width: 100%;
	    }
	    p {
	    	font-size: 13px;
	    	line-height: 25px;
    		margin-bottom: 20px;
    		color: #fff;
    		text-align: justify;
    		font-weight: bolder;
    		letter-spacing: 1px;
    		b {
    			color: #fff;
    			.strategos-bold-link {
    				color: #fff;
    			}
    		}
	    }
	}
	.banner_img {
		position: absolute;
		right: 110px;
		bottom: 110px;
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-transition: .3s ease-in-out;
		transition: .3s ease-in-out;
		.stratelogo {
			height: 300px;
		}
	}
	.lets_talk_button {
		background-color: #003366;
		border-radius: 5px;
	    text-transform: uppercase;
	    font-weight: 600;
	    color: #fff;
	    padding: 15px 30px;
        position: absolute;
	    top: 162px;
	    left: 60px;
	}
	.lets_talk_button:hover {
		color: #fff;
		text-decoration: none;
	}
}
.banner_img:hover{
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

.strategyfailure_banner_overlay {
	background: #036;
	height: 550px;
	opacity: 0.6;
}









//RECRUITMENT SCSS
.recruitment_banner {
	background-image: url('../img/strategos-recruitment.jpg');
	height: 550px;
	background-size: 100% auto;
	background-repeat: no-repeat;
	position: relative;
	background-position: center;
	.recruitment_banner_caption {
		position: absolute;
	    left: 110px;
	    top: 170px;
	    h1 {
	    	font-size: 35px;
	    	margin-bottom: 20px;
	    	line-height: 40px;
	    	color: #fff;
	    	font-weight: bolder;
	    }
	    p {
	    	font-size: 13px;
	    	line-height: 25px;
    		margin-bottom: 20px;
    		color: #fff;
    		font-weight: bolder;
    		letter-spacing: 1px;
	    }
	    em {
	    	b {
	    		text-decoration: underline;
	    		color: #fff;
	    	}
	    }
	}
	.banner_img {
		position: absolute;
		right: 110px;
		bottom: 110px;
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-transition: .3s ease-in-out;
		transition: .3s ease-in-out;
		.stratelogo {
			height: 300px;
		}
		.lets_talk_button {
			background-color: #003366;
			border-radius: 5px;
		    text-transform: uppercase;
		    font-weight: 600;
		    color: #fff;
		    padding: 15px 30px;
	        position: absolute;
		    top: 162px;
		    left: 60px;
		}
		.lets_talk_button:hover {
			color: #fff;
			text-decoration: none;
		}
	}

	.banner_img:hover{
		-webkit-transform: scale(1.3);
		transform: scale(1.3);
	}
}


.recruitment_banner_overlay {
	background: #036;
	height: 550px;
	opacity: 0.6;
}

.recruitmentwhatwedo_section {
	background: #fff;
	padding: 3em 0em;
	.background_color {
		.container {
			.row {
				.col-md-12 {
					h1 {
						color: #036;
						margin-bottom: 1em;
					}
					p {
						color: #777;
						line-height: 25px;
						text-align: justify;
						b {
							color: #000;
						    font-size: 15px;
						}
					}
				}
			}
		}
	}
}

.recruitmentinsights_section {
	background: #373737;
	padding: 5em 0em;
	.background_color {
		.container {
			.row {
				.col-md-12 {
					h1 {
						color: #fff;
						margin-bottom: 1em;
						margin-top: 0em;
					}
				}
				.col-md-3 {
					a {
						text-decoration: none;
						.card {
							background: #fff;
							min-height: 350px;
							.img {
								background-image: url('../img/strategos-logo.png');
								height: 150px;
								background-size: 100% auto;
								background-repeat: no-repeat;
								position: relative;
							}
							.card-body {
								padding: 0px 15px 15px 15px;
								.card-title {
									color: #036;
								}
								.card-text {
									font-size: 10px;
									color: #777;
								}
							}
						}
					}
				}
			}
		}
	}
}

.recruitmenttestimonials_section {
	background: #fff;
	padding: 5em 0em;
	.background_color {
		.container {
			.row {
				.col-md-6 {
					h1 {
						color: #777;
						margin-bottom: 1em;
						margin-top: 0em;
						line-height: 50px;
						padding-top: 220px;
						font-weight: bolder;
					}
					.a {
					    color: #fff;
					    text-decoration: none;
					    background: #003366;
					    padding: 15px 60px;
					    border-radius: 5px;
					    text-transform: uppercase;
					    font-weight: bolder;
					}
					.a:hover {
						text-decoration: none;
					}
				}
				.col-md-6 {
					#quote-carousel {
					    padding: 0 10px 30px 10px;
					    background:#003366;
					    color:#fff;
					}
					#quote-carousel .carousel-control {
					    background: none;
					    color: #CACACA;
					    font-size: 2.3em;
					    text-shadow: none;
					    margin-top: 100px;
					}
					#quote-carousel .carousel-indicators {
					    position: relative;
					    right: 50%;
					    top: auto;
					    bottom: 0px;
					    margin-top: 20px;
					    margin-right: -19px;
					}
					#quote-carousel .carousel-indicators li {
					    width: 50px;
					    height: 50px;
					    cursor: pointer;
					    border: 1px solid #ccc;
					    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
					    border-radius: 50%;
					    opacity: 0.4;
					    overflow: hidden;
					    transition: all .4s ease-in;
					    vertical-align: middle;
					}
					#quote-carousel .carousel-indicators .active {
					    width: 128px;
					    height: 128px;
					    opacity: 1;
					    transition: all .2s;
					}
					.item blockquote {
					    border-left: none;
					    margin: 0;
					}
					.item blockquote p:before {
					    content: "\f10d";
					    font-family: 'Fontawesome';
					    float: left;
					    margin-right: 10px;
					}
					.testimonial_p {
						font-size: 15px;
						color: #fff;
						line-height: 25px;
						margin-top: 20px;
						text-align: justify;
					}
				}
			}
		}
	}
}

.recruitmentfailure_banner {
	background-image: url('../img/strategos-recruitment-failuresection.jpg');
	height: 550px;
	background-size: 100% auto;
	background-repeat: no-repeat;
	position: relative;
	background-position: center;
	.recruitmentfailure_banner_caption {
		position: absolute;
	    left: 110px;
	    top: 110px;
	    width: 50%;
	    h1 {
	    	font-size: 35px;
	    	margin: 0px;
	    	line-height: 40px;
	    	color: #fff;
	    	font-weight: bolder;
	    }
	    .recruitmentfailure_content {
	    	width: 100%;
	    }
	    p {
	    	font-size: 13px;
	    	line-height: 25px;
    		margin-bottom: 20px;
    		color: #fff;
    		text-align: justify;
    		font-weight: bolder;
    		letter-spacing: 1px;
    		b {
    			color: #fff;
    			.strategos-bold-link {
    				color: #fff;
    			}
    		}
	    }
	    em {
	    	b {
	    		text-decoration: underline;
	    		color: #fff;
	    	}
	    }
	}
	.banner_img {
		position: absolute;
		right: 110px;
		bottom: 110px;
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-transition: .3s ease-in-out;
		transition: .3s ease-in-out;
		.stratelogo {
			height: 300px;
		}
	}
	.lets_talk_button {
		background-color: #003366;
		border-radius: 5px;
	    text-transform: uppercase;
	    font-weight: 600;
	    color: #fff;
	    padding: 15px 30px;
        position: absolute;
	    top: 162px;
	    left: 60px;
	}
	.lets_talk_button:hover {
		color: #fff;
		text-decoration: none;
	}
}

.banner_img:hover{
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

.recruitmentfailure_banner_overlay {
	background: #036;
	height: 550px;
	opacity: 0.6;
}









//INVESTOR RELATIONS SCSS
.investor_banner {
	background-image: url('../img/strategos-investor.jpg');
	height: 550px;
	background-size: 100% auto;
	background-repeat: no-repeat;
	position: relative;
	background-position: center;
	.recruitment_banner_caption {
		position: absolute;
	    left: 110px;
	    top: 170px;
	    h1 {
	    	font-size: 35px;
	    	margin-bottom: 20px;
	    	line-height: 40px;
	    	color: #fff;
	    	font-weight: bolder;
	    }
	    p {
	    	font-size: 13px;
	    	line-height: 25px;
    		margin-bottom: 20px;
    		color: #fff;
    		font-weight: bolder;
    		letter-spacing: 1px;
	    }
	    em {
	    	b {
	    		text-decoration: underline;
	    		color: #fff;
	    	}
	    }
	}
	.banner_img {
		position: absolute;
		right: 110px;
		bottom: 110px;
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-transition: .3s ease-in-out;
		transition: .3s ease-in-out;
		.stratelogo {
			height: 300px;
		}
		.lets_talk_button {
			background-color: #003366;
			border-radius: 5px;
		    text-transform: uppercase;
		    font-weight: 600;
		    color: #fff;
		    padding: 15px 30px;
	        position: absolute;
		    top: 162px;
		    left: 60px;
		}
		.lets_talk_button:hover {
			color: #fff;
			text-decoration: none;
		}
	}

	.banner_img:hover{
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

}

.investor_banner_overlay {
	background: #036;
	height: 550px;
	opacity: 0.6;
}

.investorwhatwedo_section {
	background: #fff;
	padding: 3em 0em;
	.background_color {
		.container {
			.row {
				.col-md-12 {
					h1 {
						color: #036;
						margin-bottom: 1em;
						font-weight: bolder;
					}
					p {
						color: #777;
						line-height: 25px;
						text-align: justify;
						b {
							color: #000;
						    font-size: 15px;
						}
					}
				}
			}
		}
	}
}

.investorinsights_section {
	background: #373737;
	padding: 5em 0em;
	.background_color {
		.container {
			.row {
				.col-md-12 {
					h1 {
						color: #fff;
						margin-bottom: 1em;
						margin-top: 0em;
					}
				}
				.col-md-3 {
					a {
						text-decoration: none;
						.card {
							background: #fff;
							min-height: 350px;
							.img {
								background-image: url('../img/strategos-logo.png');
								height: 150px;
								background-size: 100% auto;
								background-repeat: no-repeat;
								position: relative;
							}
							.card-body {
								padding: 0px 15px 15px 15px;
								.card-title {
									color: #036;
								}
								.card-text {
									font-size: 10px;
									color: #777;
								}
							}
						}
					}
				}
			}
		}
	}
}

.investortestimonials_section {
	background: #fff;
	padding: 5em 0em;
	.background_color {
		.container {
			.row {
				.col-md-6 {
					h1 {
						color: #777;
						margin-bottom: 1em;
						margin-top: 0em;
						line-height: 50px;
						padding-top: 200px;
						font-weight: bolder;
					}
					.a {
					    color: #fff;
					    text-decoration: none;
					    background: #003366;
					    padding: 15px 60px;
					    border-radius: 5px;
					    text-transform: uppercase;
					    font-weight: bolder;
					}
					.a:hover {
						text-decoration: none;
					}
				}
				.col-md-6 {
					#quote-carousel {
					    padding: 0 10px 30px 10px;
					    background:#003366;
					    color:#fff;
					}
					#quote-carousel .carousel-control {
					    background: none;
					    color: #CACACA;
					    font-size: 2.3em;
					    text-shadow: none;
					    margin-top: 100px;
					}
					#quote-carousel .carousel-indicators {
					    position: relative;
					    right: 50%;
					    top: auto;
					    bottom: 0px;
					    margin-top: 20px;
					    margin-right: -19px;
					}
					#quote-carousel .carousel-indicators li {
					    width: 50px;
					    height: 50px;
					    cursor: pointer;
					    border: 1px solid #ccc;
					    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
					    border-radius: 50%;
					    opacity: 0.4;
					    overflow: hidden;
					    transition: all .4s ease-in;
					    vertical-align: middle;
					}
					#quote-carousel .carousel-indicators .active {
					    width: 128px;
					    height: 128px;
					    opacity: 1;
					    transition: all .2s;
					}
					.item blockquote {
					    border-left: none;
					    margin: 0;
					}
					.item blockquote p:before {
					    content: "\f10d";
					    font-family: 'Fontawesome';
					    float: left;
					    margin-right: 10px;
					}
					.testimonial_p {
						font-size: 15px;
						color: #fff;
						line-height: 25px;
						margin-top: 20px;
						text-align: justify;
					}
				}
			}
		}
	}
}

.investorfailure_banner {
	background-image: url('../img/strategos-investor-failuresection.jpg');
	height: 550px;
	background-size: 100% auto;
	background-repeat: no-repeat;
	position: relative;
	background-position: center;
	.strategyfailure_banner_caption {
		position: absolute;
	    left: 110px;
	    top: 90px;
	    width: 50%;
	    h1 {
	    	font-size: 35px;
	    	margin: 0px;
	    	line-height: 40px;
	    	color: #fff;
	    	font-weight: bolder;
	    }
	    .strategyfailure_content {
	    	width: 100%;
	    }
	    p {
	    	font-size: 13px;
	    	line-height: 25px;
    		margin-bottom: 20px;
    		color: #fff;
    		text-align: justify;
    		font-weight: bolder;
    		letter-spacing: 1px;
    		b {
    			color: #fff;
    			.strategos-bold-link {
    				color: #fff;
    			}
    		}
	    }
	}
	.banner_img {
		position: absolute;
		right: 110px;
		bottom: 110px;
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-transition: .3s ease-in-out;
		transition: .3s ease-in-out;
		.stratelogo {
			height: 300px;
		}
	}
	.lets_talk_button {
		background-color: #003366;
		border-radius: 5px;
	    text-transform: uppercase;
	    font-weight: 600;
	    color: #fff;
	    padding: 15px 30px;
        position: absolute;
	    top: 162px;
	    left: 60px;
	}
	.lets_talk_button:hover {
		color: #fff;
		text-decoration: none;
	}
}
.banner_img:hover{
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

.investorfailure_banner_overlay {
	background: #036;
	height: 550px;
	opacity: 0.6;
}